body{
    font-family: Arial, sans-serif;
    background: lightblue;
    margin: 0;
    padding: 0;
}

.container{
    width: 350px;
    margin: 60px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px gray;
}

input{
    width: 90%;
    padding: 10px;
}

button{
    margin-top: 15px;
    padding: 10px 20px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: darkblue;
}

#result{
    margin-top: 20px;
    color: green;
}